*{
    margin: 4px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    border:4px solid black;
    height: 100vh;
    width: 100%;
}
header{
    width: 100%;
    background-color:#E06666;
    margin-bottom: 1px;
    position: relative;
    border-bottom:4px solid black;
}
header div h1{
    display: inline-block;
    margin: 1rem 1.5rem 1rem;
    position: relative;
}
header div{
    display: inline-block;
    text-align:left;
    position: relative;
}
.logo{
    margin-left: 15%;
}
.titulo{
    left: 53rem;
    margin-top: 3rem;
}
.contenedor{
    text-align: center;
    margin-top: 30px;
}
footer{
    background-color:#999999;
    border-top:4px solid black;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
 }
.redes{
    display:inline-block;
 }
 .face{
    position: absolute;
    left: 10%;
    transform: translate(-10%);
    }
 .twitter{
    position: absolute;
    left: 15%;
    transform: translate(-15%);
 }
 .insta{
    position: absolute;
    left: 20%;
    transform: translate(-20%);
 }
.logofinal{
    position: absolute;
    right: 2%;
    transform: translate(-20%);
}
.copyright{
    position: absolute;
    left: 40%;
}
.logincontainer{
    background-color: #999999;
    width: 320px;
    height: 460px;
    top: 20%;
    left: 40%;
    position: absolute;
    border-radius: 20px;
}
input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    
  }
.avatar{
    margin-left: 65px;
}
#btnIngresar{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
p{
    font-size: 18px;
}
.usuarios{
    display: block;
    width: 125px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20px;
    margin: 80px 70rem;
    padding: 15px 30px;
    background-color: #999999;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.atras{
    display:inline;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20px;
    margin: 80px 70rem;
    padding: 15px 30px;
    background-color: #999999;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    background-color: transparent;
    border: 2px solid gray;
    color: #b80f22;
}